AppsFlyerSampleApp/bin/iPhone/Debug
AppsFlyerSampleApp/bin
AppsFlyerSampleApp/obj
AppsFlyerXamarinBinding/obj
.vs/
.idea/
**/[Pp]ackages/*
AppsFlyerXamarinBinding/bin/Debug/
AppsFlyerXamarinBinding/bin/Release/.idea/
